{% extends "layout.html" %}

{% block content %}

<h1 class="text-center"><strong>Draw Again?</strong></h1>
<h1 class="text-center"><strong>Game 1</strong></h1>

	<form class="text-center" action="/draw" method="get">
		<button  class="btn-large" type="submit" value="Submit">Random Drawing!</button>
	</form>

<h1 class="text-center"><strong>Draw for Game 2</strong></h1>
	<form class="text-center" action="/game_2" method="get">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>


<h1 class="text-center"><strong>No more to draw?? See all winners!</strong></h1>

	<form class="text-center" action="/winners" method="get">
		<button  class="btn-large" type="submit" value="Submit">Winners!</button>
	</form>


{% endblock %}
