{% extends "layout.html" %}

{% block content %}

<h1 class="text-center" style = "margin:20px;"><strong>Draw Again?</strong></h1>

<h2 class="text-center"><strong>Draw for Game 1</strong></h2>
<h3 class="text-center">{{ game1 }} drawn</h3>

{% if (game1 < 2) %}
	<form class="text-center" action="/game_1" method="get">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>
{% endif %}


<h2 class="text-center"><strong>Draw for Game 2</strong></h2>
<h3 class="text-center">{{ game2 }} drawn</h3>

{% if (game2 < 2) %}
	<form class="text-center" action="/game_2" method="get">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>
{% endif %}

<h2 class="text-center"><strong>Draw for Game 3</strong></h2>
<h3 class="text-center">{{ game3 }} drawn</h3>

{% if (game3 < 2) %}
	<form class="text-center" action="/game_3" method="get">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>
{% endif %}


<!-- make this count up games and add more to the list -->
<h1 class="text-center"><strong>Draw for another game?</strong></h1>

	<form class="text-center" action="/new_game" method="get">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>



<h1 class="text-center"><strong>No more to draw? See all winners!</strong></h1>

	<form class="text-center" action="/winners" method="get">
		<button  class="btn-large" type="submit" value="Submit">Winners!</button>
	</form>


{% endblock %}
