{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}

{% block content %}
	
	
	<h1 class="text-center" style = "margin:12px;">Welcome to Mediasmith's<br />Warriors Playoff Picker!</h1>

	<form class="text-center" action="{{ url_for('login') }}" method="get">
		<button class="btn-large" style = "margin:12px;" type="submit" value="Submit">Log in</button><br />
	</form>

	<form class="text-center" action="{{ url_for('winners') }}" method="get">
		<button class="btn-large" type="submit" value="Submit">View Winners</button>
	</form>


{% endblock %}