{% extends "layout.html" %}

{% block content %}

<h2 class="centered-title">Warriors Playoffs Winners:</h2>

{% for i in winners %}
<!-- check to see if there are names in the value field (only display chosen games)-->

<div class="span4">
	<div class="row">


		{% if winners[i] %}


<!-- keep track of which games have winners/display -->


		<h2 class="text-center"><strong>Game {{ i }}:</strong></h2>
		<h3 class="text-center">{{ winners[i][0] }} & {{ winners[i][1] }}</h3>


		{% endif %}
	</div>
</div>


{% endfor %}


<div class="row">
	<div class="span12">

<h1 class="text-center"><strong>Need to draw for another game?</strong></h1>


	<form class="text-center" action="/drawing" method="post">
		<input type="hidden" name="game" value="{{ next_game }}">
		<button  class="btn-large" type="submit" value="Submit">Draw</button>
	</form>
</div>
</div>


{% endblock %}

